@model IEnumerable<MVC_Homework.Models.作業檢視表01>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm())
{
    <p>
        請搜尋客戶名稱:
        @Html.TextBox("keyword")

        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.聯絡人數量)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.銀行帳戶數量)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.客戶名稱)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.聯絡人數量)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.銀行帳戶數量)
            </td>
        </tr>
    }

</table>
